
<div class = "cointainer-fluid">
<div class = "row">
<div class = "col-md-4">
<%- model_class = Group -%>
<div class = "well" >
  
    <table class = "no-border">
      <tr>
        <td>      </td>
        <td> <h1><%=t '.title', :default => @group.name %></h1>
          <p><%= @group.users.count %> members </p>
        </td>
      </tr>
      <tr>
        <td class = "col-md-3 text-right margin-top:5px">Name: </td>
        <td class = "col-md-9 text-left"><%= @group.name %></td>
      </tr>
      <tr>
        <td class = "col-md-3 text-right margin-top:5px">Org. Type: </td>
        <td class = "col-md-9"><%= @group.group_type %></td>
      </tr>
      <tr>
        <td class = "col-md-3 text-right margin-top:5px">About: </td>
        <td class = "col-md-9"><%= @group.about %></td>
      </tr>
      <tr>
        <td class = "col-md-3 text-right">Details: </td>
        <td class = "col-md-9"><%= @group.details %></td>
      </tr>
      <tr>
   <td class = "col-md-3 text-right">Scope: </td>
        <td class = "col-md-9"><%= @group.scope %></td>
      </tr>
     </table>
<div class="form-group">
    <% if signed_in? %>
      <% if not @group.users.incldue?(current_user) %>
        <%= link_to "Join", {:controller => :groups, :action => :join, id: @group.id}, :method => "put", :class => "btn btn-lg btn-success" %>
      <% elsif current_user.memberships.find_by_group(@group).role == "admin" %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_group_path(@group), :class => 'btn btn-default' %>
    <% end %>
  <% end %>
</div>

</div>
<div class = "well">
<table class = "table">
<th>Users</th>
  <% @group.users.each  do |u| %>
  <tr>
    <td><%= link_to u.email, profile_path(u) %></td>
  </tr>
  <% end %>
</table>
</div>
</div>
<div class = "col-md-8">
<div class = "well">
<h2> Conversations </h2>
<% if @group.users.include?(current_user) %>
<%= render "posts/posts" %>
<h3> New Conversation </h3>
<% @postable = @group %>
<%= render "posts/form" %>
<% end %>
</div>
</div>
</div>
<div class = "row">
  <div class = "col-md-4">
  
  </div>
</div>
</div>