<div class="container-fluid">
    <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="false">
        <ul class="nav nav-pills nav-justified">
            <li data-target="#carousel1" data-slide-to="0" class="active">
                <a href="#">Updates</a>
            </li>
            <li data-target="#carousel1" data-slide-to="1">
                <a href="#">Messages</a>
            </li>
        </ul>
        <div class="carousel-inner">
            <div class="item active">
                <% @updates = current_user.group_conversations %>
                <table class = "table-no-border" id = "table-updates">
                    <% @updates.each do |u| %>
                        <% @p = u %>
                        <% @postable = @p %>
                            <tr>
                                <td>
                                    <%= @p.postable.name %>
                                </td>
                                <td>
                                    <%= @p.user.profile.name %>
                                    <%= @p.source  unless @p.source == "web" %>
                                </td>
                                <td>
                                    <% @p = u.posts.last unless u.posts.empty? %>
                                    <%= link_to @p, @p.header %>    
                                </td>
                                <td>
                                    <%= @p.content %>
                                </td>
                                <td>
                                    <% @post = Post.new %>
                                    <div id="demo-form" class="demo-description" style="display: none; ">
                                    <%= render "posts/reply_form", :controller => "Posts", :action => "create" %>
                                    </div>
                                   <%=  link_to_modal "Demo Form", "#demo-form", :class=>"button" %> 
                                </td>
                            </tr>
                    <% end %>
                </table>
            </div>
            <div class="item">
                <table class = "table" id = "table-messages">
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



