<%= form_for [@postable, @post] do |f| %>
  <% if @post.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :phone_number %>
  </div>
  
  <div class="field">
    <%= f.text_field :content, rows: 30, :placeholder => "type your message here" %>
  </div>
  <div class="actions">
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "reply", :class=> "btn btn-success"  %>
    </div>
  </div>
<% end %>