<h3><%= @post.header %> </h3>
<table class = "table">
<tr>
  <td><%= @post.user.profile.name %> </td>
  <td><%= @post.source %> </td>
  <td><%= @post.content %></td>
  <td><%= @post.created_at %> </td>
</tr>
<% if not @post.posts.empty? %>
  <% @post.posts.each do |p| %>
    <tr>
      <td><%= p.user.profile.name %> </td>
      <td><%= p.source %> </td>
      <td><%= p.content %></td>
      <td><%= p.created_at %> </td>
    </tr>
  <% end %>
<% end %>
<% @postable = @post %>
<% @post = Post.new %>
</table>
<%= render "posts/reply_form", :locals => {:modal => false} %> 
<%= link_to "back", root_path, :class => "btn btn-success" %>

